{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data"><!--for taking all type of values--->
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter your movie name"><br>
    <input type="text" name="desc" placeholder="enter your movie descreption"><br>
     <input type="text" name="year" placeholder="enter your movie year"><br>
     <input type="file" name="img" style="color:blue"><br>
    <input type="submit" name="sub" style="color:yellow;background-color:green">

</form>
{% endblock %}